@import url('https://fonts.googleapis.com/css2? family= Kantumruy+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300; 1.400;1.500;1.600;1.700 & family= Lagosta & family= Oswald:wght@200;300;400;500;600;700 & family= Ubuntu:ital,wght@0.300;0,400;0,500;0,700;1,300;1,400; 1.500;1.700 & display=trocar');
@import url('https://fonts.googleapis.com/css2? family= Kantumruy+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300; 1.400;1.500;1.600;1.700 & família= Lagosta & família= Mukta:wght@200;300;400;500;600;700;800 & family= Oswald:wght@200;300;400;500;600;700 & family= Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700 & display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
 
/* barra de navegação */
.navbar {
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    height: 100px;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;

}

.logo {
    flex: 20%;
    text-align: center;
    margin-left: 4%;
}

.menu {
    flex: 70%;
    text-align: right;
    padding: 20px;
}

.menu a {
    color: #292e64;
    text-decoration:none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover {
    color: #b31c2e;
    border-top: 4px solid #e9bd80;
}

#botao {
    background-color: #292e64;
    padding: 10px 25px;
    color: aliceblue;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover {
    border: none;
    background-color: #b31c2e;
}

/* fim da barra de navegação */

/* chamada da página */

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.headline {
    flex: 40%;
    margin-left: 10%;
}

.headline h2 {
    font-weight: 900;
    font-size: 20px;
    color: #292e64;
    padding: 0;
    margin: 0;
}

.headline p {
    color: gray;
    text-align: left;
}

.contact-btn {
    display: inline-block;
    background-color: #b31c2e;
    padding: 20px;
    color: aliceblue;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}

.contact-btn:hover {
    background-color: #292e64;
}

.img-headline {
    margin-right: 10%;
    flex: 40%;
    text-align: center;
}
/* fim da chamada da página */

/* serviços */
section {
    display: inline-block;
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
}

section h3 {
    width: 100%;
    font-size: 40px;
    margin: 0;
    font-weight: bold;
    color: #292e64;
}

.services {
    display: inline-block;
    margin-top: 5%;
}

.cards {
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid red;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.cards:hover {
    background-color: #b31c2e;
    color: antiquewhite;
    padding: 40px;
}

.cards:hover img {
    display: none;
}

.cards:hover .card-text {
    display: none;
}

.cards:hover .texto-oculto {
    display: block;
}

.texto-oculto {
    display: none;
}

/* fim serviços */

/* destinos */

.title-destinos{
    width: 100%;
    font-size: 40px;
    margin: 0;
    font-weight: bold;
    color: #292e64;
    margin-bottom: 8%;
}

.container{
    margin-top: 8%;
}

.inner{
    overflow: hidden;
}

.inner img{
    transition: all 1.5s ease;
}

.inner:hover img{
    transform: scale(1.5);
}

/* fim destinos */

/* sobre nós */

#about-area{
    background-color:#f9f9f9
}

.main-title{
    color:#292e64;
    margin: 0 0 65px 0;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.main-title::after{
    content: "";
    border-top: 4px solid #292e64;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}

.about-title{
    font-size: 17px;
    color: #292e64;
    text-transform: uppercase;
    font-weight: bold;
}

#about.list{
    list-style: none;
    padding-left: 0;
}

/* fim sobre nós */

/* Contato */
  .container{
    width: 85%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container .content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background:#b31c2e;
  }
  .content .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .content .left-side .details i{
    font-size: 30px;
    color:#b31c2e;
    margin-bottom: 10px;
  }
  .content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
  }
  .content .left-side .details .text-one,
  .content .left-side .details .text-two{
    font-size: 14px;
    color: #afafb6;
  }
  
  
  .container .content .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: #090422;
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .message-box{
    min-height: 110px;
  }
  .right-side .input-box textarea{
    padding-top: 6px;
  }
  .right-side .button{
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .button input[type="button"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #090422;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button input[type="button"]:hover{
    background: #C1AC9C;
  }
  
  @media (max-width: 950px) {
    .container{
      width: 90%;
      padding: 30px 40px 40px 35px ;
    }
    .container .content .right-side{
     width: 75%;
     margin-left: 55px;
  }
  }
  @media (max-width: 820px) {
    .container{
      margin: 40px 0;
      height: 100%;
    }
    .container .content{
      flex-direction: column-reverse;
    }
   .container .content .left-side{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .container .content .left-side::before{
     display: none;
   }
   .container .content .right-side{
     width: 100%;
     margin-left: 0;
   }
  }
  
  /* fim da área de contatos */

/* rodapé */

footer {
    margin-top: 100px;
    height: 400px;
    text-align: center;
    border-top: 3px solid #b31c2e;
    background-image: linear-gradient(180deg, #292e64, #090422, black);
}

.logo-rodape {
    padding: 100px;
}

/* fim rodapé */